{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "Members list" %}{% endblock %}


{% block content %}
<div class="grid-x panel">
    <!-- Left bar - Member's list -->
    <div class="large-2 medium-2 small-12 cell">
        <div class="grid-x search-box">
            <input placeholder="{% trans "Search" %}" type="text">
        </div>
        <ul class="vertical tabs list-items scrollable" data-tabs id="member-details">
            {% for member in object_list %}
                {% include "partials/list_item.html" with member=member %}
            {% endfor %}
        </ul>
    </div>

    <!-- Right bar - Member detail -->
    <div class="large-10 medium-12 hide-for-small cell">
        <div data-tabs-content="member-details">
            {% if object_list %}
                {% for member in object_list %}
                    {% include "partials/item_detail.html" with member=member %}
                {% endfor %}
            {% else %}
                <div>
                    <br/>
                    <p class="text-center">
                        <h5>{% trans "No members found" %}</h5>
                    </p>
                </div>
            {% endif %}            
        </div>
    </div>
</div>
{% endblock content %}