{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "New member" %}{% endblock %}

{% block content %}

<form id="new-member-form" action="" method="POST">
    {% csrf_token %}
    <div class="grid-x grid-margin-x panel">
        <!-- Header -->
        <div class="large-12 medium-12 small-12 cell">
            <h4 class="subheader">
                {% trans "Registering new member" %}
            </h4>
            <hr/>
        </div>

        <!-- General member data -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "General information" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Name" %}
                    {{ form.name }}
                </label>

                <label>{% trans "Middle name" %}
                    {{ form.middle_name }}
                </label>

                <label>{% trans "Surname" %}
                    {{ form.surname }}
                </label>

                <label>{% trans "Date of birth" %}
                    {{ form.date_of_birth }}
                </label>

                <label>{% trans "Nationality" %}
                    {{ form.nationality }}
                </label>
            </p>
        </div>

        <!-- Contacts -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "Contacts" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Phone number" %}
                    {{ form.telephone }}
                </label>
            </p>
            <p>
                <label>{% trans "E-mail" %}
                    {{ form.email }}
                </label>
            </p>
        </div>

        <!-- Address -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "Address" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Phone number" %}
                    {{ form.telephone }}
                </label>
            </p>
            <p>
                <label>{% trans "E-mail" %}
                    {{ form.email }}
                </label>
            </p>
        </div>
    </div>
</form>

{% endblock %}