{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "New member" %}{% endblock %}

{% block content %}

<form id="new-member-form" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {% if messages %}
        <div class="grid-x grid-margin-x panel pad-5">
            <div class="callout secondary">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="grid-x grid-margin-x panel">
        <!-- Header -->
        <div class="large-12 medium-12 small-12 cell">
            <h4 class="subheader">
                {% trans "Registering new member" %}
            </h4>
            <hr/>
        </div>

        <!-- General member data -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "General information" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Name" %}
                    {{ form.name }}
                </label>
                {% include "partials/form_error.html" with field=form.name %}
            </p>
            <p>
                <label>{% trans "Surname" %}
                    {{ form.surname }}
                </label>
                {% include "partials/form_error.html" with field=form.surname %}
            </p>
            <p>
                <label>{% trans "Date of birth" %}
                    {{ form.date_of_birth }}
                </label>
                {% include "partials/form_error.html" with field=form.date_of_birth %}
            </p>
            <p>
                <label>{% trans "Nationality" %}
                    {{ form.nationality }}
                </label>
                {% include "partials/form_error.html" with field=form.nationality %}
            </p>
            <p>
                <label>{% trans "Profile picture" %}
                    {{ form.picture }}
                </label>
                {% include "partials/form_error.html" with field=form.picture %}
            </p>
        </div>

        <!-- Contacts -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "Contacts" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Phone number" %}
                    {{ form.telephone }}
                </label>
                {% include "partials/form_error.html" with field=form.telephone %}
            </p>
            <p>
                <label>{% trans "E-mail" %}
                    {{ form.email }}
                </label>
                {% include "partials/form_error.html" with field=form.email %}
            </p>
        </div>

        <!-- Address -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "Address" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Street" %}
                    {{ form.street }}
                </label>
                {% include "partials/form_error.html" with field=form.street %}
            </p>
            <p>
                <label>{% trans "House No." %}
                    {{ form.house_no }}
                </label>
                {% include "partials/form_error.html" with field=form.house_no %}
            </p>
            <p>
                <label>{% trans "Postal code" %}
                    {{ form.postal_code }}
                </label>
                {% include "partials/form_error.html" with field=form.postal_code %}
            </p>
            <p>
                <label>{% trans "City" %}
                    {{ form.city }}
                </label>
                {% include "partials/form_error.html" with field=form.city %}
            </p>
            <p>
                <label>{% trans "State/District" %}
                    {{ form.state }}
                </label>
                {% include "partials/form_error.html" with field=form.state %}
            </p>
            <p>
                <label>{% trans "Country" %}
                    {{ form.country }}
                </label>
                {% include "partials/form_error.html" with field=form.country %}
            </p>
        </div>

        <!-- Administrative tasks -->
        <div class="large-6 medium-6 small-12 cell">
            <p class="text-center">
                <h5 class="subheader">
                    {% trans "Administration" %}
                </h5>
            </p>
            <p>
                <label>{% trans "Create user?" %}
                    {{ form.generate_user }}
                </label>
                {% include "partials/form_error.html" with field=form.generate_user %}
            </p>
            <p>
                <label>{% trans "Member No." %}
                    {{ form.member_no }}
                </label>
                {% include "partials/form_error.html" with field=form.member_no %}
            </p>
            <p>
                <label>{% trans "Member Status" %}
                    {{ form.status }}
                </label>
                {% include "partials/form_error.html" with field=form.status %}
            </p>
        </div>

        <div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 cell">
            <div class=" button-group">
                <button class="button rounded primary large">{% trans "Create" %}</button>
                <a href="{% url 'homepage' %}" class="button small alert">{% trans "Cancel" %}</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}