body {
    background-color: #fdfdfd;
}

h1, h2, h3 {
    color: #0d8214;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

.top-bar {
    border-bottom: 1px solid #1E6E16;
    background-color: white;
}

.top-bar .menu {
    background-color: white;
}

.round-pic {
    border: 2px solid black;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.basic-menu a {
    color: #0d8214;
    font-size: 14px;
}

.basic-menu a:hover {
    color: #14DD20;
    font-size: 14px;
}

.submenu {
    margin-top: 15px;
}

.submenu li:hover {
    background-color: #eeeeee;
}

.pic-orange {
    border: 2px solid #1E6E16 !important;
    color: #0d8214;
}

.panel {
    border: 1px solid #1E6E16;
    background-color: white;
}

