body {
    background-color: #fcfcfc;
}

h1, h2, h3 {
    color: #0d8214;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

.top-bar {
    border-bottom: 1px solid #1E6E16;
    background-color: white;
}

.top-bar .menu {
    background-color: white;
}

.round-pic {
    border: 2px solid black;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.basic-menu a {
    color: #0d8214;
    font-size: 14px;
}

.basic-menu a:hover {
    color: #14DD20;
    font-size: 14px;
}

.submenu {
    margin-top: 15px;
}

.submenu li:hover {
    background-color: #eeeeee;
}

.pic-orange {
    border: 2px solid #1E6E16 !important;
    color: #0d8214;
}

.panel {
    border: 1px solid #728272;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.panel h1, .panel h2,
.panel h3, .panel h4 {
    color: #939393;
}

.tile {
    border: 1px solid #27931C;
    border-radius: 3px;
    background-color: #4AB044;
    background: linear-gradient(#E3F8E2, #D4F1D2);
    min-height: 60px;
    max-height: 60px;
    color: #444444;
}

.tile-name {
    font-size: 16px;
    padding: 3px;
}