{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="grid-x panel">
        <div class="large-8 large-offset-1 cell">
            <h4>{% trans "Member management" %}</h4>
            <hr/>
        </div>
        <div class="grid-x grid-margin-x large-10 large-offset-1">
            {% for entry in member_nav %}
                {% include "partials/tile_2.html" with url=entry.url icon=entry.icon title=entry.title %}
            {% endfor %}
        </div>

        <div class="large-8 large-offset-1 cell panel-area">
            <h4>{% trans "Events organization" %}</h4>
            <hr/>
        </div>
        <div class="grid-x grid-margin-x large-10 large-offset-1 ">
            {% for entry in events_nav %}
                {% include "partials/tile_2.html" with url=entry.url icon=entry.icon title=entry.title %}
            {% endfor %}
        </div>

        
    </div>
{% endblock %}