{% extends "base.html" %}

{% block content %}
    <div class="grid-x panel">
        <div class="large-8 large-offset-2 cell">
            <h4>Member management</h4>
        </div>
        <div class="grid-x grid-margin-x large-10 large-offset-1">

            {% trans "New members" as new_members %}
            {% include "partials/tile_2.html" with url="#0" icon="pe-7s-add-user" title=new_members %}

            {% trans "Members List" as members_list %}
            {% include "partials/tile_2.html" with url="#0" icon="pe-7s-users" title=members_list %}

            {% include "partials/tile_2.html" with url="#0" icon="pe-7s-add-user" title="New members" %}

        </div>
    </div>
{% endblock %}