{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<form id="settings-form" action="." method="POST">
    {% csrf_token %}
    {% if messages %}
    <div class="grid-x grid-margin-x">
        <div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 cell">
            <div class="callout alert">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br/>
    {% endif %}

    <div class="grid-x grid-margin-x">
        <!-- Header -->
        <div class="large-12 medium-12 small-12 cell panel pad-20">
            <h4 class="subheader">
                {% trans "Settings" %}
            </h4>
            <hr/>
            <p>
                <label>{% trans "Name" %}
                    {{ form.first_name }}
                </label>
            </p>
            <p>
                <label>{% trans "Surname" %}
                    {{ form.last_name }}
                </label>
            </p>
            <p>
                <label>{% trans "Password" %}
                    {{ form.password }}
                </label>
            </p>
            <p>
                <button class="button primary small">{% trans "Save" %}</button>
                <a href="{% url 'homepage' %}" class="button small alert">{% trans "Cancel" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}